<template>
  <q-layout view="lhh lpR lFf">

    <q-header
      reveal
      class="bg-primary text-white"
      height-hint="98"
    >
      <q-toolbar>
        <q-btn
          dense
          flat
          round
          icon="menu"
          @click="left = !left"
        />

        <q-toolbar-title align="center">
          e-Commerce Website
        </q-toolbar-title>
      </q-toolbar>

      <q-tabs align="justify">
        <q-route-tab
          to="/page1"
          label="Electronice"
        />
        <q-route-tab
          to="/page2"
          label="Electrocasnice"
        />
        <q-route-tab
          to="/page3"
          label="Imbracaminte"
        />
        <q-route-tab
          to="/page3"
          label="Rechizite"
        />
        <q-route-tab
          to="/page3"
          label="Articole sportive"
        />
      </q-tabs>
    </q-header>

    <q-drawer
      v-model="left"
      side="left"
      overlay
      behavior="mobile"
    >
      <q-list bordered>
        <template v-if="isAuth == true">
          <q-item>Hello {{client.firstName}}</q-item>
          <q-item to='/profile'>Profil</q-item>
          <q-item to='/cart'>Shopping Cart</q-item>
        </template>
        <template v-else>
          <div class="q-pa-md">
            <q-btn
              to='/login'
              class="col-auto"
            >Login</q-btn>
          </div>
        </template>
      </q-list>
      <!-- drawer content -->
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer class="bg-grey-8 text-white">
      <q-toolbar>

      </q-toolbar>
    </q-footer>

  </q-layout>
</template>

<script>
export default {
  data () {
    return {
      left: false,
      client: {},
      isAuth: false
    }
  },
  methods: {
    clientDetails: function () {
      this.$axios.get('/api/auth/client').then((response) => {
        this.client = response.data
        this.isAuth = true
      }).catch(() => {
        this.isAuth = false
      })
    }
  },
  mounted () {
    this.clientDetails()
  }
}
</script>
<style scoped>
</style>
