<template>

  <div
    class="q-pa-md"
    style="max-width: 300px"
  >
    <form
      @submit.prevent.stop="onSubmit"
      class="q-gutter-md"
    >
      <q-input
        ref="email"
        filled
        v-model="email"
        label="Email"
        hint="Email address"
        lazy-rules
        :rules="[ val => val.match('[a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?')|| 'Please type a valid email!'
        ]"
      />

      <q-input
        ref="password"
        filled
        type="password"
        v-model="password"
        label="Password"
        lazy-rules
        :rules="[
          val => val.match('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,20}$') || 'he password must contain at least a capital letter, a number and be between 6 and 20 characters long'
        ]"
      />

      <div>
        <q-btn
          label="Submit"
          type="submit"
          color="primary"
        />
      </div>
    </form>
  </div>
</template>
<script>
export default {
  name: 'Auth',
  data () {
    return {
      email: null,
      password: null
    }
  },

  methods: {
    onSubmit () {
      this.$refs.email.validate()
      this.$refs.password.validate()

      if (this.$refs.email.hasError || this.$refs.password.hasError) {
        this.formHasError = true
      } else {
        this.$q.notify({
          icon: 'done',
          color: 'positive',
          message: 'Submitted'
        })
        this.$axios.post('/api/auth/login', { email: this.email, password: this.password }, { withCredential: true })
          .then((response) => {
            this.$q.notify({
              color: 'positive',
              position: 'top',
              message: response.data.message,
              icon: 'report_problem'
            })
            setTimeout(() => { this.$router.push('/') }, 1000)
          })
          .catch(() => {
            this.$q.notify({
              color: 'negative',
              position: 'top',
              message: 'Invalid email or password',
              icon: 'report_problem'
            })
          })
      }
    }

  }
}
</script>
<style scoped>
</style>
