<template>
  <div
    class="q-pa-md"
    style="max-width:300px"
  >
    <form
      @submit.prevent.stop="onSubmit"
      @reset.prevent.stop="onReset"
    >
      <q-input
        ref="firstName"
        v-model="firstName"
        label="First Name"
        type="text"
        lazy-rules
        :rules="[val => val && val.match('^[A-Z]*[a-zA-Z-\' ]+$') || 'Please input a valid first name']"
      />
      <q-input
        ref="lastName"
        v-model="lastName"
        label="Last Name"
        type="text"
        lazy-rules
        :rules="[val => val && val.match('^[A-Z]*[a-zA-Z-\' ]+$') || 'Please input a valid last name']"
      />
      <q-input
        ref="email"
        v-model="email"
        label="Email"
        type="email"
        lazy-rules
        :rules="[val => val && val.match('[a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?') || 'Please input a valid email']"
      />
      <q-input
        ref="password"
        v-model="password"
        label="Password"
        type="password"
        lazy-rules
        :rules="[val => val && val.match('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,20}$') || 'he password must contain at least a capital letter, a number and be between 6 and 20 characters long']"
      />
      <q-input
        ref="address"
        v-model="address"
        label="Address"
        type="text"
        lazy-rules
        :rules="[val => val && val.length >0 || 'Please input a something']"
      />
      <q-btn
        label="Submit"
        type="submit"
        color="primary"
      />
    </form>
  </div>
</template>
<script>
export default {
  name: 'Register',
  data () {
    return {
      firstName: null,
      lastName: null,
      email: null,
      password: null,
      address: null
    }
  },
  methods: {
    onSubmit () {
      this.$refs.firstName.validate()
      this.$refs.lastName.validate()
      this.$refs.email.validate()
      this.$refs.password.validate()
      this.$refs.address.validate()
      if (this.$refs.firstName.hasError || this.$refs.lastName.hasError || this.$refs.email.hasError || this.$refs.password.hasError || this.$refs.address.hasError) {
        this.formHasError = true
      } else {
        this.$q.notify({
          icon: 'done',
          color: 'positive',
          message: 'Submitted'
        })
        this.$axios.post('/api/client/register', { firstName: this.firstName, lastName: this.lastName, email: this.email, password: this.password, address: this.address })
          .then((response) => {
            this.$q.notify({
              color: 'positive',
              position: 'top',
              message: response.data.message,
              icon: 'report_problem'
            })
          })
          .catch((err) => {
            this.$q.notify({
              color: 'negative',
              position: 'top',
              message: err.response.data,
              icon: 'report_problem'
            })
          })
      }
    },
    onReset () {

    }
  }
}
</script>
<style scoped>
</style>
